html, body{
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #030A13;
}

#top-container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 70%;
}

#compass {
    position: relative;
    height: 100%;
    width: 33%;
}

#model {
    position: relative;
    width: 33%;
    height: 100%;
}

button {
    background-color: #30435c;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    font-weight: lighter;
}

button:hover {
    background-color: #345879;
}

button:focus {
    outline: none;
}

#enable-system {
    position: fixed;
    border-radius: 5px;
    border: 0;
    background-color: #429042;
    width: 150px;
    padding-top: 6px;
    padding-bottom: 6px;
    top: calc(70vh + 6px);
    left: 5px;
}

#motors {
    position: relative;
    width: 33%;
    height: 100%;
}


#bot-container {
    position: fixed;
    top: 70%;
    width: 100%;
    height: 30%;
}

#terminal {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;

}

iframe {
    border: none;
}