body {
    text-align: center;
    background-color: #141E2D;
}

#heading-circle {
    position: fixed;
    border: 2px solid white;
    bottom: -70vw;
    left: 9.4vw;
    border-radius: 50%;
    width: 80vw;
    height: 80vw;
    background-color: #666;
}


.rotated-heading {
    position: fixed;
    height: 80vw;
    width: 0;
    color: white;
    font-size: 2.5vw;
    text-align: center;
}

#heading-down-arrow {
    position: fixed;
    left: calc(50vw - 0.8vw);
    bottom: 10.2vw;
	border-color: white transparent;
	border-style: solid;
	border-width: 2vw 1vw 0 1vw;
	height: 0;
	width: 0;
}

#position-monitor-div {
    position: fixed;
    /*overflow: hidden;*/
    top: 0;
    left: 0;
    border: 2px solid white;
    margin-top: 2vmin;
    border-radius: 6vmin;
    height: calc(100vmin - 15vw);
    width: calc(100vmin - 15vw);
    margin-left: calc((100vw - (100vmin - 15vw)) / 2);
}