@font-face {
    font-family: 'terminal-font';
    src: url(../fonts/menlo-webfont.woff);
}

html {
    font-family: 'terminal-font', serif;
    background-color: black;
    color: white;
}

#controls {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #141E2D;
    border-top: 1px solid white;
}

.toggle {
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    float: right;
    height: 40px;
    width: 100px;
    background-color: #030A13;
    outline: none;
    border: hidden;
    margin: 0 auto;
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#info {
    color: #33D42B;
}

#warning {
    color: #FFC108;
    background-color: #141E2D;
}

#error {
    color: #FF3308;
    background-color: #141E2D;
}

#verbose {
    color: #a4ff95;
    background-color: #141E2D;
}