html {
	overflow: hidden;
}

body {	
	background-color: #141E2D;
	margin: 0;
}

#podmornica-pbars-container {
	min-height: 150px;
	min-width: 337px;
	width: 90vw;
	height: 45vw;
	max-height: 45vh;
	max-width: 90vh;
	margin: 30vh auto 30vh;
	text-align: center;
}

#podmornica-img {
	width: auto;
	height: 100%;
}

.side-pbars {
	display: inline-block;
	min-width: 30px;
	width: 2.5vw;
	height: 100%;
}

.pbars {
	position: relative;
	top: 50%;
	background-color: rgba(0);
	border-radius: 3px;
	border: 1px solid #3ADD36;
	height: 70%;
}

.percentage {
	overflow: visible !important;
	position: absolute;
	bottom: 0;
	background-color: #3ADD36;
	width: 100%;
	height: 0%;
}

.pbars-margin-hack {
	height: 33%;
}

.percentage > t {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 14px;
	font-family: 'Arvo', serif;
	font-size: 13px;
	color: white;
	margin-top: 50px;
}